<div class="container p-3">
  <div class="d-flex justify-content-end">
    <mat-icon (click)="closeDialog()">close</mat-icon>
  </div>
  <h2 class="my-3 text-center" mat-dialog-title>Project Forms</h2>

  <form [formGroup]="projectForm">
    <!-- Project Name -->
    <div class="mb-3">
      <mat-form-field class="w-100">
        <mat-label>Project Name</mat-label>
        <input matInput formControlName="projectName" required />
      </mat-form-field>
    </div>

    <!-- Description -->
    <div class="mb-3">
      <mat-form-field class="w-100">
        <mat-label>Description</mat-label>
        <textarea matInput formControlName="Description" required></textarea>
      </mat-form-field>
    </div>

    <!-- Technologies -->
    <div class="mb-3" formArrayName="Technologies">
      <!-- <mat-label>Technology</mat-label> -->
      <div
        *ngFor="let tech of Technologies.controls; let i = index"
        class="input-dev"
      >
        <mat-form-field class="w-75 my-1">
          <mat-label>Technology</mat-label>
          <input matInput [formControlName]="i" />
        </mat-form-field>
        <button mat-icon-button color="warn" (click)="removeTechnologies(i)">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
      <br />
      <button
        mat-raised-button
        class="btn-sm add-more"
        (click)="addTechnologies()"
      >
        + Add Technology
      </button>
    </div>

    <!-- Team Members -->
    <div class="mb-3" formArrayName="teamMembers">
      <!-- <mat-label>Team Members</mat-label> -->
      <div
        *ngFor="let member of teamMembers.controls; let i = index"
        class="input-dev"
      >
        <mat-form-field class="w-75 my-2">
          <mat-label>Team Member</mat-label>
          <input matInput [formControlName]="i" />
        </mat-form-field>
        <button mat-icon-button color="warn" (click)="removeTeamMembers(i)">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
      <br />
      <button
        mat-raised-button
        class="btn-sm add-more"
        (click)="addTeamMembers()"
      >
        + Add Team Member
      </button>
    </div>

    <!-- Projects Link -->
    <div class="mb-3" formArrayName="projectsLink">
      <!-- <mat-label>Project Links</mat-label> -->
      <div
        *ngFor="let link of projectsLink.controls; let i = index"
        class="input-dev"
      >
        <mat-form-field class="w-75 my-2">
          <mat-label>Project Link</mat-label>
          <input matInput [formControlName]="i" />
        </mat-form-field>
        <button mat-icon-button color="warn" (click)="removeProjectsLink(i)">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
      <br />
      <button
        mat-raised-button
        class="btn-sm btn-light add-more"
        (click)="addProjectsLink()"
      >
        + Add Project Link
      </button>
    </div>

    <!-- Submit and Close Buttons -->
    <div class="d-flex justify-content-between mt-3">
      <button
        mat-raised-button
        class="btn-sm custom-green-btn"
        (click)="onSubmit()"
      >
        Submit
      </button>
      <button
        class="btn btn-success btn-sm"
        (click)="onView(projectForm.get('id')?.value)"
      >
        View
      </button>
    </div>
  </form>
</div>
