<div class="container p-3">
  <div class="d-flex justify-content-end">
    <mat-icon (click)="closeDialog()">close</mat-icon>
  </div>
  <h2 class="my-3 text-center" mat-dialog-title>Project Forms</h2>

  <form [formGroup]="projectForm">
    <!-- Project Name -->
    <div class="mb-3">
      <mat-form-field class="w-100">
        <mat-label>Project Name</mat-label>
        <input matInput formControlName="projectName" required />
      </mat-form-field>
    </div>

    <!-- Description -->
    <div class="mb-3">
      <mat-form-field class="w-100">
        <mat-label>Description</mat-label>
        <textarea matInput formControlName="Description" required></textarea>
      </mat-form-field>
    </div>

    <!-- Technologies -->
    <div class="mb-3" formArrayName="Technologies">
      <!-- <mat-label>Technology</mat-label> -->
      <div
        *ngFor="let tech of Technologies.controls; let i = index"
        class="input-dev"
      >
        <mat-form-field class="w-75 my-1">
          <mat-label>Technology</mat-label>
          <input matInput [formControlName]="i" />
        </mat-form-field>
        <button mat-icon-button color="warn" (click)="removeTechnologies(i)">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
      <br />
      <button
        mat-raised-button
        class="btn-sm add-more"
        (click)="addTechnologies()"
      >
        + Add Technology
      </button>
    </div>

    <!-- Team Members -->
    <div class="mb-3" formArrayName="teamMembers">
      <!-- <mat-label>Team Members</mat-label> -->
      <div
        *ngFor="let member of teamMembers.controls; let i = index"
        class="input-dev"
      >
        <mat-form-field class="w-75 my-2">
          <mat-label>Team Member</mat-label>
          <input matInput [formControlName]="i" />
        </mat-form-field>
        <button mat-icon-button color="warn" (click)="removeTeamMembers(i)">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
      <br />
      <button
        mat-raised-button
        class="btn-sm add-more"
        (click)="addTeamMembers()"
      >
        + Add Team Member
      </button>
    </div>

    <!-- Projects Link -->
    <div class="mb-3" formArrayName="projectsLink">
      <!-- <mat-label>Project Links</mat-label> -->
      <div
        *ngFor="let link of projectsLink.controls; let i = index"
        class="input-dev"
      >
        <mat-form-field class="w-75 my-2">
          <mat-label>Project Link</mat-label>
          <input matInput [formControlName]="i" />
        </mat-form-field>
        <button mat-icon-button color="warn" (click)="removeProjectsLink(i)">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
      <br />
      <button
        mat-raised-button
        class="btn-sm btn-light add-more"
        (click)="addProjectsLink()"
      >
        + Add Project Link
      </button>
    </div>

    <!-- Submit and Close Buttons -->
    <div class="d-flex justify-content-between mt-3">
      <button
        mat-raised-button
        class="btn-sm custom-green-btn"
        (click)="onSubmit()"
      >
        Submit
      </button>
      <button class="btn btn-success btn-sm" (click)="onView()">View</button>
    </div>
  </form>
</div>

<!-- <div class="container p-3">
  <h2 class="my-3 text-center" mat-dialog-tittle>Project Forms</h2>

  <form [formGroup]="projectForm">
    <div class="mb-3">
      <mat-form-field>
        <mat-label class="form-label">Project Name:</mat-label>
        <input matInput formControlName="projectName" class="w-100" required />
      </mat-form-field>
    </div>
    <div class="mb-3">
      <mat-form-field>
        <mat-label class="form-label">Description:</mat-label>
        <textarea matInput formControlName="Description" class="w-100" required>
        </textarea>
      </mat-form-field>
    </div>
    <div class="mb-3" formArrayName="Technologies">
      <!-- <label class="form-label">Technologies</label> -->
<!-- <mat-label>Technology</mat-label>
      <div
        *ngFor="let tech of Technologies.controls; let i = index"
        class="input-dev"
      >
        <mat-form-field class="w-75 my-1">
          <mat-label>Technology</mat-label>
          <input matInput [formControlName]="i" />
        </mat-form-field>

        <button
          mat-icon-button
          color="warn"
          (click)="removeTechnologies(i)"
          aria-label="Remove technology"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </div>
      <br />
      <button
        mat-raised-button
        color="primary"
        class="btn-sm add-more"
        (click)="addTechnologies()"
      >
        <mat-icon>add</mat-icon> Add Technology
      </button>
    </div>

    <div class="mb-3" formArrayName="teamMembers">
      <!-- <label class="form-label">Technologies</label> -->
<!-- <mat-label>TeamMembers</mat-label>
      <div
        *ngFor="let member of teamMembers.controls; let i = index"
        class="input-dev"
      >
        <mat-form-field class="w-75 my-2">
          <mat-label>TeamMembers</mat-label>
          <input matInput [formControlName]="i" />
        </mat-form-field>

        <button
          mat-icon-button
          color="warn"
          (click)="removeTeamMembers(i)"
          aria-label="Remove teamMembers"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </div>
      <br />
      <button
        mat-raised-button
        color="primary"
        class="btn-sm add-more"
        (click)="addTeamMembers()"
      >
        <mat-icon>add</mat-icon>Add TeamMembers
      </button>
    </div>
    <div class="mb-3" formArrayName="projectsLink">
      <!-- <label class="form-label">Technologies</label> -->
<!-- <mat-label>projectsLink</mat-label>
      <div
        *ngFor="let link of projectsLink.controls; let i = index"
        class="input-dev"
      >
        <mat-form-field class="w-75 my-2">
          <mat-label>projectsLink</mat-label>
          <input matInput [formControlName]="i" />
        </mat-form-field>

        <button
          mat-icon-button
          color="warn"
          (click)="removeProjectsLink(i)"
          aria-label="Remove projectsLink"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </div>
      <br />
      <button
        mat-raised-button
        color="primary"
        class="btn-sm add-more"
        (click)="addProjectsLink()"
      >
        <mat-icon>add</mat-icon> Add projectsLink
      </button>
    </div>

    <button mat-raised-button class="custom-green-btn" (click)="onSubmit()">
      Submit Form
    </button>

    <button mat-raised-button color="accent" (click)="closeDialog()">
      close
    </button>
  </form>
</div>  -->

<!-- <mat-label class="form-label">Project Name:</mat-label>
      <input
        matInput
        type="text"
        class="form-control"
        formControlName="projectName"
        required
      /> -->
<!-- <label class="form-label">Description:</label>
      <textarea
        class="form-control"
        formControlName="Description"
        required
      ></textarea> -->
<!-- <div class="mb-3" formArrayName="Technologies">
      <label class="form-label">Technologies</label>
      <div *ngFor="let tech of Technologies.controls; let i = index">
        <input
          type="text"
          class="form-control d-inline-block w-50 my-1"
          [formControlName]="i"
        />
        <button
          type="button"
          class="btn btn-danger btn-sm m-3"
          (click)="removeTechnologies(i)"
        >
          Remove
        </button>
      </div>
      <br />
      <button
        type="button"
        class="btn btn-sm btn-light mt-1"
        (click)="addTechnologies()"
      >
        + Add Technologies
      </button>
    </div> -->
<!-- <div class="mb-3" formArrayName="teamMembers">
      <label class="form-label">TeamMembers</label>
      <div *ngFor="let member of teamMembers.controls; let i = index">
        <input
          type="text"
          class="form-control d-inline-block w-50 my-1"
          [formControlName]="i"
        />
        <button
          type="button"
          class="btn btn-danger btn-sm m-3"
          (click)="removeTeamMembers(i)"
        >
          Remove
        </button>
      </div>
      <br />
      <button
        type="button"
        class="btn btn-sm btn-light mt-1"
        (click)="addTeamMembers()"
      >
        +Add TeamMembers
      </button>
    </div> -->
<!-- <div class="mb-3" formArrayName="projectsLink">
      <label class="form-label">projectsLink</label>
      <div *ngFor="let link of projectsLink.controls; let i = index">
        <input
          type="text"
          class="form-control d-inline-block w-50 my-1"
          [formControlName]="i"
        />
        <button
          type="button"
          class="btn btn-danger btn-sm m-3"
          (click)="removeProjectsLink(i)"
        >
          Remove
        </button>
      </div>
      <br />
      <button
        type="button"
        class="btn btn-sm btn-light mt-1"
        (click)="addProjectsLink()"
      >
        +Add projectsLink
      </button>
    </div> -->

<!-- <button mat-raised-button mat-dialog-close color="accent">close</button> -->
