::ng-deep .mat-dialog-container {
  padding: 20px;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  max-width: 600px; /* Adjust width */
  width: 90%;
  height: 80%;
}

h2 {
  text-align: center;
  color: #4f4f50;
}

.form-control {
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  border-radius: 5px;
}
.custom-green-btn {
  background-color: #4caf50; /* Material Green */
  color: white;
}
.input-dev {
  margin-top: -20px;
}
.add-more {
  font-size: 12px; /* Smaller text */
  padding: 2px 4px; /* Smaller padding */
  min-width: 28px; /* Reduce width */
  height: 28px; /* Reduce height */
  line-height: normal;
  margin-top: -5px;
  border: 1px solid rgb(110, 113, 117);
}
