<div class="container">
  <div class="row">
    <h1 class="Head text-center">Project Details</h1>
    <div class="col-4 left-box vh-100">
      <div>
        <a routerLink="AllProject" routerLinkActive="active">All-Project</a>
      </div>
      <br />
      <div>
        <a class="" routerLink="projectView/:id" routerLinkActive="active"
          >project-view</a
        >
      </div>
      <br />
    </div>
    <div class="col-8 right-box vh-100">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
