<div class="container">
  <h1 class="text-center">Project-View</h1>
  <div *ngIf="project">
    <h5>Project Name:</h5>
    <span>{{ project?.projectName }}</span>

    <h5>Description:</h5>
    <span>{{ project?.Description }}</span>

    <h5>Technologies:</h5>
    <ul>
      <li *ngFor="let item of project?.Technologies">{{ item }}</li>
    </ul>

    <h5>Team Members:</h5>
    <ul>
      <li *ngFor="let item of project?.teamMembers">{{ item }}</li>
    </ul>

    <h5>Projects Link:</h5>
    <ul>
      <li *ngFor="let item of project?.projectsLink">{{ item }}</li>
    </ul>
  </div>
</div>
